[Unit]
Description=Service to fix and restart apache if apache-state=failed

[Service]
ExecStart=/usr/local/bin/apache_failfix

[Install]
WantedBy=multi-user.target
